body {
    font-family: sans-serif;
    margin: 0;
}

.left-shoulder {
    position: fixed;
    left: 0;
    width: 25%;
    display: block;
    height: 100%;
    border-right: 2px solid black;
    background: black;
}

.right-content {
    position: absolute;
    width: 75%;
    right: 0;
    display: block;
}

h1 {
    font-weight: normal;
}

.site-title {
    font-size: 6em;
    color: white;
    background: linear-gradient(-45deg, #23A6D5, #23D5AB, #23A6D5, #E73C7E, #EE7752, #E73C7E, #23A6D5, #23D5AB, #23A6D5);
    background-size: 20em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
    color: #0098d4;
    text-decoration: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.v-pad-md {
    padding: 2em 0;
}

.v-pad-sm {
    padding: 0.5em 0;
}

.v-marg-md {
    margin: 2em 0;
}

.h-marg-md {
    margin: 0 2em;
}

.left-pad-md {
    padding-left: 2em;
}

.core-nav a {
    display: block;
}

.text-large {
    font-size: 23px;
}

.article {
    border-bottom: 1px
}

.article hr {
    display: inline-block;
    width: 100%;
}

.hidden {
    display: none;
}

.right {
    display: inline-block;
    float: right;
}

.editor {
    width: 100%;
    height: 20em;
}
