body {
    font-family: sans-serif;
    margin: 0;
}

.left-shoulder {
    position: fixed;
    left: 0;
    width: 25%;
    display: block;
    height: 100%;
    border-right: 2px solid black;
}

.right-content {
    position: absolute;
    width: 75%;
    right: 0;
    display: block;
}

h1 {
    font-weight: normal;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.v-pad-md {
    padding: 2em 0;
}

.v-pad-sm {
    padding: 0.5em 0;
}

.left-pad-md {
    padding-left: 2em;
}

.core-nav a {
    display: block;
}

.text-large {
    font-size: 23px;
}

.article {
    border-bottom: 1px
}

.article hr {
    display: inline-block;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hidden {
    display: none;
}

.right {
    display: inline-block;
    float: right;
}
